<html>
	<head>
		<script src="md5.min.js"></script>
		<!-- https://github.com/blueimp/JavaScript-MD5 -->
		
		<script type="text/javascript">
		
			var lastlogin = new Date(<%= session.lastvisit %>);
			
			window.addEventListener('load', function() {
				document.getElementById('lastlogin').innerHTML = lastlogin.toDateString();				
				
				// Canvas Fingerprint
				var c = document.getElementById("c");
				var ctx = c.getContext("2d");
				ctx.fillStyle = 'green';
				ctx.fillRect(10, 10, 80, 80);
				ctx.font = '12px serif';
				ctx.fillText('Hi', 10, 50);
				
				
				var base64 = c.toDataURL();
				var signature = md5(base64);
				console.log(signature);
				document.getElementById('signature').innerHTML = signature;
			});
			
		
		</script>
	</head>

	<body>
		<b>Welcome! <%= session.uuid %> you last visited in <span id="lastlogin"><%= session.lastvisit %></span>, 
		visited <%= session.visits %> times.</b>
		
		<br /><br />
		<% if (headers.dnt == "1") { %>
			You said "Do Not Track" but I don't care
		<% } else { %>
			You didn't say anything about "Do Not Track"
		<% } %>
		
		<canvas id="c" width="100" height="100">Your browser does not support the canvas element.</canvas>
		Signature: <div id="signature"></div>
		
		<br /><br />		
		Here is some more information I know about you:<br />
		<%= JSON.stringify(headers); %>
		
		
	</body>
</html>	